<div class="rows">
	<div class="col-xs-12">
		<div class="jumbotron" style="background-color: #a4c6fc;">
  			<center><span class="banner"><%= @username %></span></center>
  			<a name="top"></a>
		</div>
	</div>
</div>
<div class="rows">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<div class="col-sm-1">
  					<span class="avatar" style="margin-left: -20px;"><span class="invisible">_</span><%= current_user.username[0,1] %><span class="invisible">_</span></span><span class="invisible">_</span>
  				</div>
  				<div class="col-sm-1" style="margin-left: 10px;">
  				<b><%= current_user.username %></b><br />
  					Posts:<br />
  					Suscribers:
  				</div>
  				<div class="col-sm-1" style="margin-left: 12px; margin-top: 20px;">
  					<%= @posts.length %><br />
  				</div>
  				<div class="col-sm-1" style="margin-left: 1px; margin-top: 40px;">
  					<%= current_user.followers.count %>
  				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
	<%= render "/components/post_form" %><br />
	<% for @p in @posts %>
		<div class="panel panel-default post-panel">
  			<div class="panel-body row">
  			<div class="col-sm-1">
  				<span class="avatar"><% string_username = User.find(@p.user_id).username.to_s %><span class="invisible">_</span><%= string_username[0,1] %><span class="invisible">_</span></span><span class="invisible">_</span>
  			</div>
  			<div class="col-sm-11">
  				<%= @p.content %>
  			</div>
			<div class="col-sm-12 post-under">
				Created by <b><span id="username"><%= User.find(@p.user_id).username %></span></b> on <i><%= @p.created_at.to_formatted_s(:short) %></i>
			</div>
			</div>
		</div>
	<% end %>
	<center><a href="#top">Top of the page</a></center><br /><br />
	</div>
	<div class="col-xs-3">
		<%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
		<div class="panel panel-default">
  			<div class="panel-body">
				<b>You could suscribe to :</b>
				<% for @u in @toFollow %>
					<a href="/user/<%= @u.username %>"><%= @u.username %></a><br />
				<% end %>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				Copyright © 2017 Alex's Web Development. All rights reserved.
			</div>
		</div>
	</div>
</div>