<div class="rows">
	<div class="col-xs-12">
		<div class="jumbotron" style="background-color: #a4c6fc;">
  			<center><span class="banner"><%= @username %> <img src="<%= User.find_by_username(params[:id]).avatar_url.to_s %>" height="100px" width="100px"></span></center>
  			<a name="top"></a>
		</div>
	</div>
</div>
<div class="rows">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				<div class="col-sm-1">
  					<img src="<%= User.find_by_username(params[:id]).avatar_url.to_s %>" height="35px" width="35px">
  				</div>
  				<div class="col-sm-1" style="margin-left: 10px;">
  				<b><%= User.find_by_username(params[:id]).username %></b><br />
  					Posts:<br />
  					Suscribers:
  				</div>
  				<div class="col-sm-1" style="margin-left: 12px; margin-top: 20px;">
  					<%= @posts.length %><br />
  				</div>
  				<div class="col-sm-1" style="margin-left: 1px; margin-top: 40px;">
  					<%= User.find_by_username(params[:id]).followers.count %>
  				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6" style="margin-top: 17px;">
	<% if current_user.username == User.find_by_username(params[:id]).username %>
		<%= render "/components/post_form" %><br />
	<% end %>
	<% for @p in @posts %>
		<div class="panel panel-default post-panel">
  			<div class="panel-body row">
  			<div class="col-sm-1">
  				<img src="<%= User.find_by_username(params[:id]).avatar_url.to_s %>" height="35px" width="35px">
  			</div>
  			<div class="col-sm-11" id="content">
  				<%= @p.content %>
  			</div>
			<div class="col-sm-12 post-under">
				Created by <b><span id="username"><%= User.find(@p.user_id).username %></span></b> on <i><%= @p.created_at.localtime.to_formatted_s(:short) %></i>
			</div>
			</div>
		</div>
	<% end %>
	<center><a href="#top">Top of the page</a></center><br /><br />
	</div>
	<div class="col-xs-3">
		<%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
		<div class="panel panel-default">
  			<div class="panel-body">
				<b>You could suscribe to :</b><br /><br />
				<% for @u in @toFollow %>
					<a href="/user/<%= @u.username %>"><%= @u.username %></a><br />
				<% end %>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				Copyright © 2017 Alex's Web Development. All rights reserved.
			</div>
		</div>
	</div>
</div>