<!DOCTYPE html>
<html>
  <head>

    <title>HASN</title>

    <%= render '/layouts/nav' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

  </head>

  <body>

  	<div class="container">
  		<%= yield %>
  	</div>

    <br><br>
  	<div align="center">Copyright © 2017 Alex's Web Development. All rights reserved.</div>

  </body>
</html>